<footer class="footer-sticky bg-dark text-white">
    <div class="container py-5"> <!-- Aumentado el padding vertical de py-4 a py-5 -->
        <div class="row text-center">
            <div class="col-lg-4">
                <hr class="bg-white">
            </div>
            <div class="col-lg-4">
                <h2 class="h4">HerDestiny</h2>
            </div>
            <div class="col-lg-4">
                <hr class="bg-white">
            </div>
        </div>
        <div class="row mt-4 text-center">
            <div class="col-lg-4">
                <h2 class="h5">VISÍTANOS</h2>
                <address class="mt-2">
                    DEPÓSITO Y SERVICE <br>
                    SAGRADA FAMILIA 123 <br>
                    BARRIO URCA <br>
                    CÓRDOBA CAPITAL
                </address>
            </div>
            <div class="col-lg-4">
                <h2 class="h5">WHATSAPP</h2>
                <div class="d-flex justify-content-center mt-2">
                    <img src="/assets/images/logo/whatsapp3.jpg" class="me-2" alt="Whatsapp Logo" style="width: 50px;">
                    <a href="tel:662 234 5678" class="align-self-center">351 123-4567</a>
                </div>
            </div>
            <div class="col-lg-4">
                <h2 class="h5">ENLACES DE INTERÉS</h2>
                <ul class="list-unstyled mt-2">
                    <li><a href="#" class="text-white">Enlace 1</a></li>
                    <li><a href="#" class="text-white">Enlace 2</a></li>
                    <li><a href="#" class="text-white">Enlace 3</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bg-danger text-center py-3"> <!-- Aumentado el padding vertical de py-2 a py-3 -->
        <p class="mb-0">Copyright © 2023 HerDestiny Ⓡ Todos los derechos reservados.</p>
    </div>
</footer>
