<header>
    <div class="banner position-relative">
        <img src="/assets/images/nosotros/banner.png" alt="Banner Image" class="img-fluid w-100">
        <div class="overlay position-absolute top-0 start-0 w-100 h-100"></div> <!-- Div de superposición -->
        <div class="position-absolute top-50 start-50 translate-middle">

            <h1 class="text-center nosotros display-4">NOSOTROS</h1>
        </div>
    </div>
</header>



<div class="container-fluid">


    <div class="row mb-3 mt-5">
        <div class="col-md-12 position-relative">


            <div class="col-md-6 float-end">
                <div class="image-container">
                    <img src="/assets/images/nosotros/consultorio1.png" alt="Imagen" class="w-100">
                </div>
            </div>


            <div class="text-overlay col-md-7 d-flex align-items-center">
                <div class="text-container w-100">
                    <div class="text-wrapper p-3">
                        <h2 class="text-center titulo">¿Qué hacemos?</h2>
                        <p class="text-white parrafo">Nuestra misión es proporcionar a profesionales de la belleza y
                            centros de estética una plataforma confiable y conveniente para acceder a una amplia gama de
                            equipos de aparatología estética de alta calidad. Nos esforzamos por simplificar el proceso
                            de alquiler, facilitando la obtención de equipos de última generación para mejorar la
                            calidad de los tratamientos y servicios de nuestros clientes. Nuestro compromiso es impulsar
                            el éxito de nuestros usuarios, brindando acceso a soluciones innovadoras y contribuyendo al
                            crecimiento y la excelencia en la industria de la belleza y la estética.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="row mb-5">
        <div class="col-md-12 position-relative">


            <div class="col-md-6">
                <div class="image-container">
                    <img src="/assets/images/nosotros/consultorio2.jpg" alt="Imagen 2" class="w-100">
                </div>
            </div>


            <div class="text-overlay col-md-7 offset-md-5 d-flex align-items-center">
                <div class="text-container w-100">
                    <div class="text-wrapper p-3">
                        <h2 class="text-center titulo">Visión empresarial</h2>
                        <p class="text-white parrafo">Buscamos ser el aliado confiable de los profesionales de la
                            belleza en Argentina, proporcionando acceso sencillo y rentable a la aparatología estética
                            de alta calidad. Nuestro enfoque se centra en impulsar el éxito de nuestros clientes, al
                            tiempo que creamos una comunidad de colaboración y crecimiento en la industria de la belleza
                            en nuestro país. Esperamos ser reconocidos como un socio esencial para los profesionales de
                            la estética, brindando soluciones efectivas y fomentando la innovación en el sector.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>