<header>
    <div class="banner position-relative">
        <img src="/assets/images/inicio/Sopranoiceplatinum.png" alt="Banner Image" class="img-fluid w-100">
        <div class="overlay position-absolute top-0 start-0 w-100 h-100"></div>
        <div class="position-absolute top-50 start-50 translate-middle">
        </div>
    </div>
</header>


<div class="container-fluid py-5 seccion1">
    <div class="row justify-content-center">
        <div class="col-2 text-center">
            <img src="/assets/images/inicio/BodyUp.png" alt="Imagen 1" class="rounded-circle img-fluid">
        </div>
        <div class="col-2 text-center">
            <img src="/assets/images/inicio/criolipolisis.png" alt="Imagen 2" class="rounded-circle img-fluid">
        </div>
        <div class="col-2 text-center">
            <img src="/assets/images/inicio/VelaSlim.png" alt="Imagen 3" class="rounded-circle img-fluid">
        </div>
        <div class="col-2 text-center">
            <img src="/assets/images/inicio/BodyHealth.png" alt="Imagen 4" class="rounded-circle img-fluid">
        </div>
        <div class="col-2 text-center">
            <img src="/assets/images/inicio/depilacionlaser.png" alt="Imagen 5" class="rounded-circle img-fluid">
        </div>
    </div>
</div>



<div class="container-fluid background-image py-5">
    <div class="row h-100">
        <div class="col-12 col-md-4 offset-md-6 ml-auto">
            <div class="text-box p-4 seccion2">
                <h2 class="titulo"><strong>Depilación definitiva</strong></h2>
                <p><strong>¿Estás pensando en hacerte un tratamiento de depilación láser para eliminar el vello de forma
                        definitiva? ¿Quieres olvidarte de la depilación para siempre? ¡Con la depilación láser es
                        posible! Conocé todas las ventajas de esta técnica en comparación con otros
                        procedimientos.</strong></p>
                <p><strong>Este sistema ofrece múltiples beneficios para tu piel, además de eliminar el vello de
                        forma segura y eficaz.</strong></p>
                <p><strong>Nuestro equipo de expertos te detallará todos los pros que brinda
                        frente a los métodos de depilación convencionales.</strong></p>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-rosa-oscuro rounded-pill">HAZ CLIC PARA CONOCER MÁS</button>
                    <!-- Aplica la clase personalizada btn-rosa -->
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid background-image2 py-5">
    <div class="row h-100">
        <div class="col-12 col-md-4 offset-md-1">
            <div class="text-box p-4 seccion2">
                <h2 class="titulo"><strong>Criolipólisis</strong></h2>
                <p><strong>La Criolipólisis es un tratamiento corporal que destruye las células adiposas de la grasa
                        localizada.
                    </strong></p>
                <p><strong>Se trata de definir la figura aplicando frío intenso controlado en la zona del cuerpo que
                        queramos
                        tratar, sin necesidad de someterse a cirugía.</strong></p>
                <p><strong>Los resultados son notablemente visibles a corto plazo, ya que con un único tratamiento
                        conseguimos
                        generar un proceso de destrucción de células grasas que durará hasta dos meses.
                    </strong></p>
                <p><strong>Una única sesión en la zona o zonas que queramos tratar puede ofrecer muy buenos
                        resultados.</strong></p>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-rosa-oscuro rounded-pill">HAZ CLIC PARA CONOCER MÁS</button>
                    <!-- Aplica la clase personalizada btn-rosa-oscuro -->
                </div>
            </div>
        </div>
    </div>
</div>